#head{
    background-color: blue;
    height: 80px;
    text-align: center;
}
#img1{
    vertical-align: middle;
     width:50px; 
}
#span1{
    vertical-align: middle;
}
#left{
    float:left; 
    width: 30%;
    font-size: 20px;
}
li{
    list-style: none; 
    height: 40px;
    border-bottom: 1px gray solid;
    padding-bottom: 5px;
}
#right{
    float:left;
     width:70%;
}
#img2{
    width:50%;
}
table{
    width: 100%; 
    text-align: center;
}
td{
    width: 30%;
}